@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

@font-face {
	font-family: 'mr_HamiltoneG'; 
	src: url(./20094.ttf); 
}

@import './components/burger.scss';

// ==========================

:root {
    --color-primary: #0fc972;
    --color-white: #fff;
    --color-light: #f4f4f4;
    --color-black: #000f37;
    --color-dark: rgb(33, 33, 33);
    --t-shadow: 0 0 10px rgba(0,0,0,0.15);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, sans-serif;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;

    &.active {
        overflow: hidden;
    }
}
 
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background: rgb(255, 242, 218);
    @media screen and (max-width: 1080px) {
        padding-top: 132px;
    }

    &.active {
        overflow: hidden;
    }
}

.container {
    max-width: calc(1200px + 30px);
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    // .container {
    //     max-width: 750px;
    // }
    html {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    // .container {
    //     max-width: none;
    // }
    html {
        font-size: 12px;
    }
}


h2 {
    font-family: 'Cormorant Garamond', sans-serif;
}

section {
    padding: 6.25rem 0;
}

.animated-title {
    animation: name 7s ease-in-out infinite;
}

@keyframes name {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.prev {
    font-size: 4rem;
    font-family: 'mr_HamiltoneG', sans-serif;
    text-align: center;
    color: var(--color-dark);
    text-shadow: var(--t-shadow);
    position: relative;
    transform: translateY(3rem);
}


/* =================================================== header */ 

@import './components/header/header.scss' ;

/* =================================================== main */ 

@import './components/main/main.scss';

/* =================================================== date */ 

@import './components/date/date.scss';

/* =================================================== conducting */ 

@import './components/conducting/conducting.scss';

/* =================================================== place */ 

@import './components/place/place.scss';

/* =================================================== story */ 

@import './components/story/story.scss';

/* =================================================== happy */ 

@import './components/happy/happy.scss';

/* =================================================== schedule */ 

@import './components/schedule/schedule.scss';


/* =================================================== dresscode */ 

@import './components/dresscode/dresscode.scss';

/* =================================================== requests */ 

@import './components/requests/requests.scss';

/* =================================================== pictures */ 

@import './components/pictures/pictures.scss';

/* =================================================== survey */ 

@import './components/survey/survey.scss';

/* =================================================== timer */ 

@import './components/timer/timer.scss';