@font-face {
	font-family: 'mr_HamiltoneG'; 
	src: url(./20094.woff2); 
}

.main {
    position: relative;
    min-height: 820px;
    padding: 0;
    // --------------
    display: flex;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 40%;

            @media screen and (max-width: 1330px) {
                object-position: center 63%;
                min-width: 1320px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        filter: saturate(0%);
    }

    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        color: #fff;
        align-items: center;
        justify-items: center;
        // ---------------
        position: relative;
        z-index: 3;
    }

    &__p {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7rem;
        white-space:nowrap;
        

        @media screen and (max-width: 630px) {
            display: flex;
            flex-flow: column;
            align-items: center;
            line-height: 5rem;
        }

        span {
            font-family: 'Cormorant Garamond', Montserrat, sans-serif;
            font-weight: bold;
            &:nth-child(2) {
                color: var(--color-primary);
            }
        }
    }

    &__date {
        color: var(--color-primary);
        font-size: 5.5rem;
        text-decoration: underline;
        text-shadow: var(--t-shadow);
        font-family: 'Cormorant Garamond', Montserrat, sans-serif;
    }

    &__time {
        position: absolute;
        bottom: 4rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5rem;
        padding: 1.4rem;
        background: rgba($color: #eee, $alpha: 0.8);
        border-radius: 5px;
        color: var(--color-dark);
        width: 98%;
        max-width: 40rem;
        text-align: center;
    }

    // =========================

    &__decoration-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        z-index: 1;
        filter: saturate(0);

        @media screen and (max-width: 915px) {
            width: 20rem;
        }
    }

    &__decoration-2 {
        position: absolute;
        bottom: 30%;
        right: 0;
        width: 30%;
        z-index: 1;
        filter: saturate(100%);

        @media screen and (max-width: 1330px) {
            bottom: 50%;
        }
        @media screen and (max-width: 965px) {
            width: 17rem;
            bottom: 80%;
        }
    }
}

